@import "tailwindcss";

:root {
  --background: #1a0e0d;
  --foreground: #f5efe6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-playfair);
  
  --color-brand-gold: #c6a96b;
  --color-brand-gold-hover: #d8bd80;
  --color-brand-dark: #1a0e0d;
  --color-brand-panel: #2a1a18;
  --color-brand-cream: #f5efe6;
}

body {
  background: var(--background);
  color: var(--foreground);
}
